@use './breakpoints.scss' as *;

.footer {
    .logo-image {
        @include sm-max {
            width: 240px;
        }
    }

    h5 {
        @include sm-max {
            font-size: 1.125rem;
        }
    }

    ul {
        &.footer-nav {
            li {
                &:not(:last-child) {
                    margin-bottom: .5rem;
                }
            }
        }
    }

    .newsletter-form {
        input {
            &.form-control {
                height: 2.85rem;
            }

            // &::-webkit-input-placeholder {
            //     /* Chrome/Opera/Safari */
            //     color: rgba(var(--white-rgb), 0.6);
            // }

            // &::-moz-placeholder {
            //     /* Firefox 19+ */
            //     color: rgba(var(--white-rgb), 0.6);
            // }

            // &:-ms-input-placeholder {
            //     /* IE 10+ */
            //     color: rgba(var(--white-rgb), 0.6);
            // }

            // &:-moz-placeholder {
            //     /* Firefox 18- */
            //     color: rgba(var(--white-rgb), 0.6);
            // }
        }

        .btn-primary {
            padding-left: 1rem;
            padding-right: 1rem;
            height: 2.85rem;

            a {
                padding: 0;
            }
        }
    }

    .social-icons {
        a {
            overflow: hidden;

            &:hover {
                svg {
                    path {
                        fill: var(--white);
                    }
                }
            }
        }
    }
}